@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);

  /* Color for the app */
  --color-muted: hsla(228, 2%, 51%, 1);
  --color-heading: #C5C7CA;
  --color-card-background: hsla(220, 7%, 16%, 1);
  --color-card-content-background: hsla(240, 12%, 11%, 1);
  --color-emoji-background: #27292D;
  --color-button-background: hsla(215, 100%, 65%, 1);

  /* Border */
  --color-border: hsla(220, 5%, 22%, 1);
  /* --color-border: hsla(220, 5%, 22%, 1); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131319;
    --foreground: #ededed;
    --border: rgb(68, 71, 77);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


textarea {
  resize: none;
  field-sizing: content;
  min-height: 2lh;
  /* overflow: hidden; */
}